<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688913906347-ethrskm7uopn9523iljjorm4hcb2g0cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688913906347-ethrskm7uopn9523iljjorm4hcb2g0cv</string>
	<key>API_KEY</key>
	<string>AIzaSyBrjeqWoLJc228hxAahUYuQfOT4WGtNdhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>688913906347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yadux.teacher-finder</string>
	<key>PROJECT_ID</key>
	<string>teacher-finder-6e1e2</string>
	<key>STORAGE_BUCKET</key>
	<string>teacher-finder-6e1e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688913906347:ios:c87badbd335716284455ee</string>
</dict>
</plist>